/aifc_decode
/aiff_extract_codebook
/armips
/extract_data_for_mio
/compress_mario_anims
/mio0
/n64cksum
/n64graphics
/n64graphics_ci
/patch_elf_32bit
/skyconv
/tabledesign
/textconv
/vadpcm_enc
/psx_sample_gen
/makextfiles
/convert_image_psx
!/ido5.3_compiler/lib/*.so
!/ido5.3_compiler/usr/lib/*.so
!/ido5.3_compiler/usr/lib/*.so.1
!/ido5.3_compiler/**/*.o
